.boxModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: rgb(247, 252, 255);
  border: 2px solid #000;
  box-shadow: 24;
}

.bitcoinPriceField {
  width: 90%;
  height: 25px;
  margin: 10px;
}

.error {
  color: red;
  font-size: 10px;
  margin: 10px;
}
