.walletBtn {
  height: 30px;
  width: 150px;
  color: aliceblue;
  font-family: aliceblue 'Lato', sans-serif bolder ;
  background-color: rgb(67, 72, 160);
  border-radius: 7px;
  border: solid rgb(67, 72, 160);
}

.walletText {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: rgb(48, 52, 127);
  text-align: center;
}